// colors
$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey-700: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 12%);
$grey-900: hsl(0, 0%, 8%);

// typography
$font-weight-400: 400;
$font-weight-600: 500;
$font-weight-700: 700;

// spacing
$spacing-50: 0.25rem;
$spacing-100: 0.5rem;
$spacing-150: 0.75rem;
$spacing-200: 1rem;

// breakpoints
$mobile: 375px;
$desktop: 1440px;
